/* Reset margin and padding, and set full height */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Background gradient */
.background {
    position: absolute;
    width: 100%;
    height: 120%;
    background: linear-gradient(270deg, #000, #fff);
    background-size: 200% 200%;
    animation: gradient 5s linear infinite;
    z-index: 0;
}

/* Keyframes for background animation */
@keyframes gradient {
    0% {
        background-position: 0% 90%;
    }
    50% {
        background-position: 100% 1500%;
    }
    100% {
        background-position: 0% 90%;
    }
}

/* Content positioning */
.content {
    position: relative;
    z-index: 1;
}

/* Button styles */
.btn {
    margin: 5px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0011ff;
}

/* Image row styles */
.image-row {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-around; /* Space out the images */
    align-items: center; /* Center images vertically */
}

.image-row img {
    width: 100px; /* Set a fixed width */
    height: 100px; /* Maintain aspect ratio */
    margin: 10px; /* Add some space around images */
}
